@model Mini_Project.Models.Branch

@{
    ViewData["Title"] = "CreateBrach";
}

<h2>เพิ่มข้อมูลสาขา</h2>

<h4>สาขา</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBrach">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">คณะ</label>
                <select asp-for="FacultyId" class="form-control" asp-items="ViewBag.FacultyID"></select>
            </div>
            <div class="form-group">
                <label class="control-label">ชื่อสาขา</label>
                <input asp-for="BranchName" class="form-control" />
                <span asp-validation-for="BranchName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary my-1" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

